
*.pyc
data/Citywalk/Citywalk_shopcategory_20220104.csv
data/Citywalk/Citywalk_shopmaster_20220104.csv
data/HarbourCity/HarbourCity_shopcategory_20220104.csv
data/HarbourCity/HarbourCity_shopmaster_20220104.csv
data/K11ArtMall/K11ArtMall_shopcategory_20220104.csv
data/K11ArtMall/K11ArtMall_shopmaster_20220104.csv
data/K11Musea/K11Musea_shopcategory_20220104.csv
data/K11Musea/K11Musea_shopmaster_20220104.csv
data/LanghamPlace/LanghamPlace_shopcategory_20220104.csv
data/LanghamPlace/LanghamPlace_shopmaster_20220104.csv
data/MiraPlace/MiraPlace_shopcategory_20220104.csv
data/MiraPlace/MiraPlace_shopmaster_20220104.csv
data/OlympianCity/OlympianCity_shopcategory_20220104.csv
data/OlympianCity/OlympianCity_shopmaster_20220104.csv
data/TheOne/TheOne_shopcategory_20220104.csv
data/TheOne/TheOne_shopmaster_20220104.csv
data/TimeSquare/TimeSquare_shopcategory_20220104.csv
data/TimeSquare/TimeSquare_shopmaster_20220104.csv
data/Tmtplaza/Tmtplaza_shopcategory_20220104.csv
data/Tmtplaza/Tmtplaza_shopmaster_20220104.csv
data/Citywalk/Citywalk_shopcategory_20220105.csv
data/Citywalk/Citywalk_shopmaster_20220105.csv
data/HarbourCity/HarbourCity_shopcategory_20220105.csv
data/HarbourCity/HarbourCity_shopmaster_20220105.csv
data/K11ArtMall/K11ArtMall_shopcategory_20220105.csv
data/K11ArtMall/K11ArtMall_shopmaster_20220105.csv
data/K11Musea/K11Musea_shopcategory_20220105.csv
data/K11Musea/K11Musea_shopmaster_20220105.csv
data/LanghamPlace/LanghamPlace_shopcategory_20220105.csv
data/LanghamPlace/LanghamPlace_shopmaster_20220105.csv
data/MiraPlace/MiraPlace_shopcategory_20220105.csv
data/MiraPlace/MiraPlace_shopmaster_20220105.csv
data/OlympianCity/OlympianCity_shopcategory_20220105.csv
data/OlympianCity/OlympianCity_shopmaster_20220105.csv
data/TheOne/TheOne_shopcategory_20220105.csv
data/TheOne/TheOne_shopmaster_20220105.csv
data/TimeSquare/TimeSquare_shopcategory_20220105.csv
data/TimeSquare/TimeSquare_shopmaster_20220105.csv
data/Tmtplaza/Tmtplaza_shopcategory_20220105.csv
data/Tmtplaza/Tmtplaza_shopmaster_20220105.csv
*.pyc
*.pyc
webscraper/HarbourCity/__pycache__/WebScraping.cpython-37.pyc
webscraper/TheOne/__pycache__/WebScraping.cpython-37.pyc
webscraper/TimeSquare/__pycache__/WebScraping.cpython-37.pyc
webscraper/Tmtplaza/__pycache__/WebScraping.cpython-37.pyc
data/Windsor/Windsor_shopcategory_20220106.csv
data/Windsor/Windsor_shopmaster_20220106.csv
